extends ../main.layout.pug

block content

  section.section.hero
    .hero__bg
      img(src="img/bg/portfolio.jpg", alt="").hero__bg-img
    ul.socials
      each item in ['vk', 'gh', 'in']
        li.socials__item
          a(href="" class=`socials__link socials__link_${item}`)
    a(href="").hamburger
    a(href="").down-arrow
      img(src="img/icons/arrow_down.svg" alt="").down-arrow_icon
    .hero__title
      img(src="img/decor/portfolio-header.png").section-title
      .user.hero__user-block
        .user__photo
          .user__photo-avatar
            img(src="img/content/user.png" alt="").user__photo-img
        .user__name Александр Поляков
        .user__desc Frontend Developer
  section.section.about
    .about__left
      svg(
        viewbox="0 0 1000 100" 
        preserveAspectRatio="none"
        class="triangle triangle_fill_white about__triangles")
        polygon(points="0,0 0,100 1000,100")
      .title.about__section-title
        | Обо мне
      .user-about
        .user-about__picture
        .user-about__title
          .subtitle
            | Кто я
        .user-about__text
          p Я веб разработчик из Москвы. Мне 26 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
    .about__right
      svg(
        viewbox="0 0 1000 100" 
        preserveAspectRatio="none"
        class="triangle triangle_fill_beige about__triangles")
        polygon(points="0,100 1000,100 1000,0")
      .about-data
        .about-data__description.about-user-info
          .about-user-info__title
            .subtitle Чем я могу быть вам полезен
          .about-user-info__text
            p Nulla in reprehenderit fugiat cupidatat cupidatat culpa labore adipisicing anim tempor ullamco ad ex.
        .about-data__content
          ul.skills
            each skill_all in content[0].skills
              each skill in skill_all
                each skillsArray, skillName in skill
                  li.skills__item
                    .skill-section
                      .skill-section__title= skillName
                      ul.skill-section__list
                        each skillTitle in skillsArray
                          li.skills-section__item
                            .skill__circle
                              .skill__name= skillTitle
